
*{
	margin: 0px;
	padding: 0px;
}

body {width: 960px;

	  }
header {
	padding-bottom: 20px;
border-bottom: 1px;
margin-top:20px;

}
main {
	overflow: hidden;
	margin-top: 0px;
	height: 960px;
}

nav {
	width: 300px; 
	height: 0px;
	margin-top: 0px;
    float:left;
    padding:15px;
	text-decoration-style;none;
	list-style-type: none; 

	
 }
 nav ul {
list-style-type:none; 
 }

nav ul a {
	text-decoration:none; 
	list-style:none;
	color: black;
	list-style-type:none;
	text-decoration-style: none;
	list-style-type: none;  
}
section{
	width: 610px; 
	padding: 15px;
	border-left: 1px;
	text-decoration: none;
	float:right; 
	
	list-style:none; 	
	text-decoration-style: none;
}
section ul {
	list-style-type: none;
}

section ul a h2{
	text-decoration:none;
	list-style: none;
	color: black; 
	text-decoration-style: none;
	
}

footer
{
background-color: lightgrey;
padding: 20px;
text-decoration:none;

  }
#article{
	text-align: right;
}

footer ul {
	list-style-type: none;
}

footer ul a {
	text-decoration: none;
	list-style:none;
	color: black;
	text-decoration-style: none;
	list-style-type: none;
}

